<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>We'll be right back</h1>
    <p>Site is currently in maintenance mode</p>
</body>
</html>